<div class="navbar">
    <button type="button" onclick="location.href='//localhost:3000/register';">Registration</button>
    <button type="button" onclick="location.href='//localhost:3000/login';">login</button>
</div>
