<div class="navbar">
    <button type="button" onclick="location.href='//localhost:3000/user';">Bank List</button>
    <button type="button" onclick="location.href='//localhost:3000/';">Home</button>
    <button type="button" onclick="location.href='//localhost:3000/logout';">Log out</button>
</div>
